*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header, footer{
    background-color:#282829 ;
    
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.nav_list{
display: flex;
align-items: center;
gap: 30px;
}
.h1{
    font-family: Inter;
font-weight: 500;
font-size: 88px;
line-height: 93px;
letter-spacing: 0%;
text-align: center;
width: 743px;
margin: 184px;

}
.box1{
    width: 390px;
}
.h3{
    font-family: Inter;
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;

}
.p{
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
color: grey;
}
.foto{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-bottom: 102px;
}
.box1{
    margin-bottom: 60px;
}